body {
    font-family: fira-sans, sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #074577;
    position: relative;
    overflow-x: hidden;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: rogue-sans, sans-serif;
}



header {
    width: 100%;
    min-height: 80vh;
    background: url('../img/bg-mob.jpg') no-repeat;
    background-size: cover;
    background-position: 80% 70%;
    padding: 7rem 0;

}

.mreza {
    position: absolute;
    margin-top: -10rem;
    margin-right: 0;
    /* width: 55rem; */
    width: 40rem;
}

.lajna {
    display: none;
}

.ime {
    color: #3ECEE5;
    text-transform: uppercase;
    padding-top: 1rem;
}

.padi {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    font-size: 1rem;
}

.vrime {
    font-weight: 800;
    font-size: 1.2rem;
}

.ikonic {
    width: 3rem;
    padding-right: 1rem;
}

.prijava {
    margin-top: 4rem;
}

.mobit {
    padding-top: 0;
    padding-top: 2rem;
}

.about p {
    font-size: 1rem;
}

.govraz {
    margin-top: 3.5rem;
}

.mrezabok {
    display: none;
}

.prog {
    font-family: fira-sans;
    font-weight: 600;
    background-color: #fff;
    padding: .35rem 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #074577;
    font-size: 0.8rem;
    text-transform: uppercase;
}


.ikona {
    width: 12rem;
    display: none;
    margin-left: auto;
    margin-right: auto;

}

.dvacetri {
    max-width: 140px;
}

.log {
    padding-top: 2rem;
    margin-top: 2rem;
    max-width: 140px;
}

.fa {
    /* color: #3ecee5; */
    color: #fff;
    margin-top: 0;
    padding-top: 1.5rem;

}

.boja {
    color: #fff;
    padding-top: 0.2rem;
    display: flex;
    justify-content: center;

}

.pow {
    color: #fff;
    font-family: rogue-sans, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin-bottom: -2rem;
}

.pow p {
    margin-bottom: 0;
}


.detalji {
    color: #fff;
    font-weight: 700;
}


.navbar-brand img {
    min-width: 40vw;
}

.btn:hover {
    color: #fff;
    background-color: #3dcee4;
}

#mainNav {
    min-height: 56px;
    background-color: #074577;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #fff;
    border: 1px solid #fff;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}


@media (min-width: 992px) {
    p {
        font-size: 1rem;
    }

    .navbar-brand img {
        min-width: 350px;
    }

    #mainNav {
        padding-top: 0rem;
        padding-bottom: 6rem;
        border-bottom: none;
        background-color: transparent;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(255, 255, 255, 0.5);
    }

    #mainNav .nav-link {
        -webkit-transition: none;
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5);
    }

    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }

    #mainNav .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink {
        background: rgb(6, 69, 119);
        background: linear-gradient(180deg, rgba(6, 69, 119, 1) 50%, rgba(6, 69, 119, 0) 100%);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #161616;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #161616;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: #467370;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: none;
        border-bottom: 0.25rem solid #64a19d;
    }

    header {
        width: 100%;
        min-height: 100vh;
        background: url('../img/bg.jpg') no-repeat;
        background-size: cover;
        background-position: right top;
        padding: 4rem 0;

    }

    .mreza {
        position: absolute;
        margin-top: -15rem;
        /* margin-right: -25rem; */
        margin-right: 0;
        width: 65rem;
    }

    .mrezabok {
        display: flex;
        position: absolute;
        margin-top: 20rem;
        width: 30rem;
    }


    .detalji {
        color: #3dcee4;
        font-weight: 600;
    }

    .ikonic {
        width: 3rem;
    }

    .ime {
        color: #3ECEE5;
        text-transform: uppercase;
        padding-top: 1rem;
    }

    .lajna {
        display: flex;
    }

    .fa {
        /* color: #3ecee5; */
        color: #fff;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .boja {
        color: #fff;
        padding-top: 0.5rem;
        ;
    }

    .prijava {
        margin-top: 8rem;
    }

}





@media (min-width: 992px) {
    .uvod {
        color: #fff;
        padding: 15rem 0 5rem;
    }

    .uvod h1 {
        font-size: 3.25rem;
        line-height: 1.1;
    }

    .uvod p {
        line-height: 1.25;
        font-size: 1.5rem;
    }

    .kada {
        display: flex;
        padding-bottom: 1rem;
        padding-top: 0;
        width: 3.5rem;
    }

    .gdje {
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 3.5rem;
    }

    .kada h3 {
        text-transform: uppercase;
        color: #3dcee4;
        font-size: 2rem;
        padding-right: 2rem;
    }

    .kada h4 {
        font-size: 2rem;
    }

    .ikona {
        display: flex;
        width: 13rem;
        margin-left: 2rem;
        margin-top: 0;

    }
}

.btn {
    margin-top: 1rem;
    border-radius: 25px;
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: #fff;
    font-family: rogue-sans, sans-serif;
    font-size: 1rem;
    -webkit-box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
    cursor: pointer;
}


.btn-potvrda {
    border: 3px solid #3dcee4;
    box-shadow: unset;
    font-size: .75rem;
    padding: .5rem 1rem;
    border-radius: 15px;
}

.btn-svijetli {
    background-color: #3dcee4;
}

.about {
    padding: 5rem 0;
}

.about h1 {
    font-size: 3rem;
}


.forma {
    width: 100%;
    background: url('../img/tockice.png') no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 4rem 0 0 0;
    overflow: hidden;
}

footer {
    padding-bottom: 2rem;
    padding-top: 8rem;
}

.wufy {
    width: 100%;
    padding: 2rem 0;
}

.logi {
    padding-top: 6rem;
}

.pow {
    color: #fff;
    font-family: rogue-sans, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin-bottom: -2rem;
}

.pow p {
    margin-bottom: 0;
}

.pow img {
    padding: 1rem;
}

.log {
    padding-top: 2rem;
    margin-top: 2rem;
}

.spec {
    max-width: 100px;
}

.copy {
    color: #fff;
    font-family: rogue-sans, sans-serif;
    font-size: 1rem;
    padding-top: 8rem;
}

.whle img {
    width: 100%;
}

@media (min-width: 992px) {
    .btn-potvrda {
        border: 3px solid #3dcee4;
        box-shadow: unset;
        border-radius: 25px;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        color: #fff;
        font-family: rogue-sans, sans-serif;
        font-size: 1.25rem;
    }

    .log {
        padding-top: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn {
        border-radius: 25px;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        color: #fff;
        font-family: rogue-sans, sans-serif;
        font-size: 1.25rem;
        -webkit-box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
        box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    .btn-potvrda {
        box-shadow: unset;
    }

    footer {
        padding-bottom: 2rem;
        padding-top: 8rem;
    }

    /* .about p{
        padding-top: 2rem;
        font-size: 1.25rem;
    } */
    .pow p {
        margin-bottom: 0rem;
    }

    .spec {
        max-width: 110px;
    }

    .log {
        padding-top: 2rem;
        margin-top: 0rem;
        padding-bottom: 1rem;
    }

    .dvacetri {
        max-width: 140px;
    }
}

.govornici {
    padding: 4rem 0;
}

.nas {
    padding-bottom: 1rem;
}

.gov a {
    text-decoration: none;
    color: #fff;
}

.pad {
    margin-top: 3rem;
}

@media (min-width: 992px) {
    .govraz {
        margin-top: 2.5rem;
    }

    .govornik-r {
        background: url('../img/govornici/tockice.png') no-repeat;
        background-size: contain;
        background-position: top right;
        padding-right: 2rem;
        margin-top: 0;
    }

    .pad {
        margin-top: 6rem;
    }

    .govornici {
        padding: 4rem 0 12rem;
    }

    .nas {
        padding-bottom: 4rem;
    }

    .prog {
        font-family: fira-sans;
        font-weight: 600;
        background-color: #fff;
        padding: .35rem 1rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        color: #074577;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .padi {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }

    .pow {
        margin-bottom: 0rem;
    }


}

.program h3 {

    font-size: 3rem;
}

.program h4 {
    font-family: source-sans-pro, sans-serif;
}

.program h5 {
    font-family: source-sans-pro, sans-serif;
    text-transform: uppercase;
}

.program p {
    margin-bottom: .25rem;
    color: #3dcee4;
}

.tema {
    border: 3px solid #3dcee4;
    border-radius: 15px;
    padding: 2rem;
}

.tema p {
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}

.tema h2 {
    color: #3dcee4;
    font-size: 3rem;
    line-height: 1.1;
}

.tema h3 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.2rem;
    opacity: .9;
}

.tema ul {
    font-size: 1rem;
    padding-top: .5rem;
    opacity: .9;
    padding-inline-start: 0px;
    list-style-type: square;
    line-height: 1.15;
}

.tema li {
    padding-top: .75rem;
}

.tema {
    margin-top: 2rem;
}


.program {
    padding: 2rem 0;
}

.preuzi p {
    padding-bottom: 2rem;
    line-height: 1.1;
}